header {
  width: 100%;
  display: grid;
  grid-template-columns: 55% 45%;
}

h1 {
  font: 700 2.25rem/1rem "PT Serif", serif;
  letter-spacing: -0.045em;
}

h2 {
  font: 600 1.125rem/1rem "Poppins", sans-serif;
  text-transform: uppercase;
  margin-bottom: 10px;
}

p {
  max-width: 440px;
  font: 1.125rem/1.6875rem "Poppins", sans-serif;
}

@media screen and (max-width: 768px) {
  header {
    grid-template-columns: 100%;
    row-gap: 40px;
  }

  p {
    max-width: 100%;
    font-size: 0.875rem;
    line-height: 21px;
  }
}
