.header {
  min-height: 15rem; /* 240px */
  grid-template-columns: 55% 45%;
  padding-top: 6.25rem; /* 100px */

  h1 {
    font-size: 2.25rem; /* 36px */
    letter-spacing: -0.045em;
  }

  h2,
  p {
    font-size: 1.125rem; /* 18px */
  }

  h2 {
    margin-bottom: 0.625rem; /* 10px */
  }

  p {
    max-width: 21rem; /* 336px */
  }
}

// Responsive
@media screen and (max-width: 768px) {
  .header {
    min-height: 10rem;
    grid-template-columns: 100%;
    gap: 2.5rem; /* 40px */
    padding-top: 10.63vw;

    p {
      max-width: 27.5rem; /* 440px */
      font-size: 0.875rem; /* 14px */
      line-height: 1.5; /* 21px */
    }
  }
}
