main {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items: center;
  row-gap: 30px;
  column-gap: 10px;

  div {
    max-width: 264px;

    div {
      margin-bottom: 15px;
    }
  }

  div:nth-child(3n + 2) {
    padding-top: 100px;
  }
}

// cards
main div div {
  display: flex;
  justify-content: space-between;
}

h4 {
  font: 0.75rem/1rem "PT Serif", serif;
  text-transform: uppercase;
  writing-mode: vertical-rl;
}

h3 {
  font: 600 1.125rem/1rem "Poppins", sans-serif;
}

img {
  width: 240px;
}

@media screen and (max-width: 768px) {
  main {
    grid-template-columns: 1fr 1fr;
    column-gap: 10px;
  }

  // cards
  main div {
    width: calc(100% - 5px);
    margin: 0 auto;
  }

  main div:nth-child(2n + 2) {
    padding-top: 100px;
  }

  main div:nth-child(5) {
    padding-top: unset;
  }

  main div div,
  img {
    max-width: 100%;
  }

  h3 {
    font-size: 0.875rem;
  }

  h4 {
    font-size: 0.625rem;
  }
}
