.poppins-400 {
  font-family: "Poppins", sans-serif;
  font-weight: 400;
}

.poppins-600 {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
}

.ptserif-400 {
  font-family: "PT Serif", serif;
  font-weight: 400;
}

.ptserif-700 {
  font-family: "PT Serif", serif;
  font-weight: 700;
}

.montserrat-400 {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
}
